<div class="formio-grid-select-wrapper alert text-secondary text-center">
  <span class="formio-grid-select-info">
    {% if (!ctx.allRowsSelected) { %}
    {{ctx.t('gridAllItems')}} <span>{{ctx.totalSelected}}</span> {{ctx.t('recordsSelectedOnPage')}}
    {% } %}
    {% if (ctx.allRowsSelected) { %}
    {{ctx.t('gridAllItems')}} <span>{{ctx.totalItems}}</span> {{ctx.t('recordsSelectedInTable')}}
    {% } %}
  </span>
  <span class="formio-grid-select-spinner">
    <div class="spinner-grow"></div>
  </span>
  <span ref="selectAllBtn" class="formio-grid-select-btn text-primary">
    <span>
      {% if (!ctx.allRowsSelected) { %}
      {{ctx.t('gridSelectAll')}} <span>{{ctx.totalItems}}</span> {{ctx.t('itemsInTable')}}
      {% } %}
      {% if (ctx.allRowsSelected) { %}
      {{ctx.t('clearSelection')}}
      {% } %}
    </span>
  </span>
</div>