<table>
<tbody ref="tbody">
  {% ctx.eachRow(function(row) { %}
  <tr ref="row">
    {% if (ctx.component.enableRowSelect) { %}
    <td style="text-align: center">
      <input type="checkbox" ref="selectRow" title="select row">
    </td>
    {% } %}
    {% row.forEach(function(rowComp) { %}
      {% if (rowComp.component.show) { %}
      <td 
        {{ ctx.component.cellMaxWidth ? 'style="max-width:'+ ctx.component.cellMaxWidth + ';"' : ''}}
        {{ ctx.component.clipCells ? 'class="clip"' : ''}}>
          {{ ctx.instance.hook('format', rowComp.component.key, rowComp.dataValue) }}
      </td>
      {% } %}
    {% }); %}
    {% if ((ctx.component.showEditBtn || ctx.component.showDeleteBtn || ctx.component.showDeleteAllBtn) && !ctx.options.pdf) { %}
    <th class="formio-grid-ops formio-actions-col-b3" style="border: none; padding: 0; position: sticky; height: inherit;">
      <div class="row-menu-btn" style="height: 100%; border-left: 1px solid #ccc; border-right: 1px solid #ccc;">
        <div class="dropdown" ref="menu">
          <ul class="dropdown-menu checkbox-menu allow-focus" ref="dropdown">
            {% if (ctx.component.showEditBtn) { %}
            <li class="dropdown-item" ref="editRow">
              <span class="btn btn-xxs formio-grid-ops-button">&#9999;</span>
              Edit row
            </li>
            {% } %}
            {% if (ctx.component.showDeleteBtn) { %}
            <li class="dropdown-item {{ ctx.options.readOnly ? 'disabled' : '' }}" ref="deleteRow">
              <span class="btn btn-xxs formio-grid-ops-button">
                <i class="fa fa-trash" aria-hidden="true"></i>
              </span>
              Delete row
            </li>
            {% } %}
          </ul>
        </div>
        ⋮
      </div>
    </th>
    {% } %}
  </tr>
  {% }); %}
</tbody>
</table>