<div class="common-pagination btn-toolbar align-items-center ml-auto" role="toolbar" aria-label="Pagination" style="font-size: 13px" {{ctx.component.showAddBtn ? 'style="width: 95%;"' : 'style="width: 100%;"'}}>
    <div class="items-per-page input-group mr-2 d-flex align-items-center">
        <div class="input-group-append">
            <span class="">{{ctx.t('gridItemsPerPage')}}</span>
        </div>
        <select ref="itemsPerPage" class="mr-1" style="border: none;
        border-bottom: 1px solid black; outline: none; cursor: pointer; margin-right: 10px">
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="25">25</option>
            <option value="50">50</option>
            <option value="100">100</option>
            <option value="-1">{{ctx.t('gridAllItems')}}</option>
        </select>
    </div>
    <span ref="itemsCount" class="items-count p-1">
        {{ ctx.itemsCount }}
      </span>
    <button ref="firstPage" type="button" class="btn shadow-none">
        <span aria-hidden="true" style="font-size: x-large">&laquo;</span>
    </button>
    <button ref="prevPage" type="button" class="btn shadow-none" >
        <span aria-hidden="true" style="font-size: x-large">&lsaquo;</span>
    </button>
    <button ref="nextPage" type="button" class="btn shadow-none">
        <span aria-hidden="true" style="font-size: x-large">&rsaquo;</span>
    </button>
    <button ref="lastPage" type="button" class="btn shadow-none">
        <span aria-hidden="true" style="font-size: x-large">&raquo;</span>
    </button>
</div>