<div class="dropdown" ref="menu">
  <ul class="dropdown-menu" ref="dropdown">
    {% if (ctx.options.sortable && ctx.component && ctx.component.sortable) { %}
    <li class="dropdown-item" ref="sortAscending">↑ {{ctx.t('sortAscending')}}</li>
    <li class="dropdown-item" ref="sortDescending">↓ {{ctx.t('sortDescending')}}</li>
    <li ref="rootItem" class="dropdown-divider"></li>
    {% } %}
    <li ref="rootItem" class="dropdown-item">
      {{ctx.t('columns')}} <span class="arrow-right">›</span>
      <ul ref="nestedDropdown" class="dropdown-menu">
        {% ctx.components.forEach(function(comp) { %}
        <li class="dropdown-item">
          <label class="form-check form-check-label">
            <input 
                ref="checkbox"
                {{ comp.show ? 'checked' : '' }}
                {{ ctx.lastColumn && comp.show ? 'disabled' : '' }}
                type="checkbox"
                class="form-check-input">
            <span class="form-check-label">
              {{ ctx.t(comp.label, { _userInput: true }) }}
            </span>
          </label>
        </li>
        {% }); %}
      </ul>
    </li>
    {% if (ctx.options.filterable && ctx.component && ctx.component.filterable) { %}
    <li ref="rootItem" class="dropdown-divider"></li>
    <li ref="rootItem" class="dropdown-item">
      {{ctx.t('filter')}} <span class="arrow-right">›</span>
      <ul ref="nestedDropdown" class="dropdown-menu">
        <form ref="filterForm" class="px-3 py-2">
          {{ctx.t('showItemsWithValue')}}
          <div class="form-group">
            <select ref="filterType" class="form-control">
              {% ctx.filterTypes.forEach(function(filterType) { %}
                {% if (!(ctx.hideFilters.includes(ctx.component.key) && (['startsWith', 'contain', 'notContain', 'endsWith', 'matches' ].includes(filterType.type)))) { %}
                  <option value="{{ filterType.type }}">{{ ctx.t(filterType.label) }}</option>
                {% } %}
              {% }); %}
            </select>
          </div>
          <div class="form-group">
            <input type="text" ref="filterInput" name="{{ ctx.component && ctx.component.key }}" class="form-control" placeholder="Filter">
          </div>
          <div class="form-row mx-0">
            <button ref="filterButton" type="button" class="btn btn-primary">{{ctx.t('filter')}}</button>
            <button ref="clearBtn" type="button" class="btn btn-secondary ml-1">{{ctx.t('clear')}}</button>
          </div>
        </form>
      </ul>
    </li>
    {% } %}
  </ul>
</div>
