<label
  class="control-label {{ctx.label.className}}"
  for="{{ctx.instance.id}}-{{ctx.component.key}}"
>
  {% if (!ctx.label.hidden) { %}
    {{ ctx.t(ctx.component.label, { _userInput: true }) }}
    {% if (ctx.component.tooltip) { %}
      <i ref="tooltip" class="{{ctx.iconClass('question-sign')}} text-muted" data-tooltip="{{ctx.component.tooltip}}"></i>
    {% } %}
  {% } %}
</label>
