<div class="{{ctx.className}}">
  <div style="position: relative;">
    {% if (ctx.wizardHeaderType === 'wizardHeaderVertical') { %}
      <div class="row">
        <div class="col-sm-12 col-md-2">
          {{ ctx.wizardHeader }}
        </div>
        <div class="wizard-page col-sm-offset-1 col-md-offset-0 col-sm-10" ref="{{ctx.wizardKey}}">
          {{ctx.components}}
        </div>
      </div>
      <div class="col-sm-offset-4 col-sm-7 col-md-offset-2 col-md-10" style="margin-top: 10px;">
        {{ ctx.wizardNav }}
      </div>
    {% } else { %} 
      {{ ctx.wizardHeader }}
      <div class="wizard-page" ref="{{ctx.wizardKey}}">
        {{ctx.components}}
      </div>
      {{ ctx.wizardNav }}
    {% } %} 
  </div>
</div>