{% ctx.component.components.forEach(function(tab, index) { %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">{{ ctx.t(tab.label, { _userInput: true }) }}</h4>
    </div>
    <div class="panel-body" ref="{{ctx.tabKey}}">
      {{ ctx.tabComponents[index] }}
    </div>
  </div>
{% }) %}
