<div class="tab-container{{ ctx.component.verticalLayout ? ' card-vertical' : ''}}">
  <ul class="nav nav-tabs{{ ctx.component.verticalLayout ? ' nav-tabs-vertical' : ''}}">
    {% ctx.component.components.forEach(function(tab, index) { %}
    <li class="nav-item{{ ctx.currentTab === index ? ' active' : ''}}" role="presentation" ref="{{ctx.tabLikey}}">
      <a class="nav-link{{ ctx.currentTab === index ? ' active' : ''}}{{ ctx.component.verticalLayout ? ' nav-link-vertical' : ''}}" href="#{{tab.key}}" ref="{{ctx.tabLinkKey}}">{{ctx.t(tab.label, { _userInput: true })}}</a>
    </li>
    {% }) %}
  </ul>
  <div class="tab-content">
    {% ctx.component.components.forEach(function(tab, index) { %}
    <div role="tabpanel" class="tab-pane{{ ctx.currentTab === index ? ' active' : ''}}" ref="{{ctx.tabKey}}">{{ctx.tabComponents[index]}}</div>
    {% }) %}
  </div>
</div>
