<div
  {% for (var attr in ctx.attrs) { %}
    {{attr}}="{{ctx.attrs[attr]}}"
  {% } %}
  {% if (ctx.type === 'success' && !ctx.attrs['aria-live']) { %}
    aria-live="polite"
    aria-atomic="true"
  {% } %}
>
  {{ctx.message}}
  {% if (ctx.options.vpat) { %}
    <span class="sr-only" id="hotkey-i-{{ctx.form._id}}">{{ctx.t('errorListHotkey')}}</span>
  {% } %}
</div>
