{% ctx.component.columns.forEach(function(column, index) { %}
<div class="col-{{column.size}}-{{column.currentWidth}}
    offset-{{column.size}}-{{column.offset}}"
    ref="{{ctx.columnKey}}">
  {{ctx.columnComponents[index]}}
</div>
{% }) %}